.App {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;

    .container {
        display: flex;
        flex-direction: column;
        width: calc(100% - 220px);

        .header {
            display: flex;
            flex-direction: row;
            height: 100px;
            align-items: center;
            .date {
                flex: 1;
            }
            .time {
                flex: 1;
            }
        }
        .body {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            .Locations {
                flex: 0 0 100%;
            }
            .Weather {
                margin-left: 20px;
            }
        }
        .Screenshot {
            margin-top: 20px;
        }
    }
    &>.Weather {
        display: inline-block;
    }
}


@media only screen and (max-width: 600px) {
    .App {
        .container {
            width: 100%;
            .body {
                flex-direction: column;
                .Weather {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }
}